name: "CI :: PR Check"

on:
  pull_request:
    branches: ["**"]
    types: [opened, reopened, ready_for_review, synchronize]
    paths:
      - 'apps-maven-builder/**'
      - '.github/**'

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      DROOLS_REPO_URL: "https://github.com/kiegroup/drools"
      KOGITO_RUNTIMES_REPO_URL: "https://github.com/kiegroup/kogito-runtimes"
      KOGITO_APPS_REPO_URL: "https://github.com/kiegroup/kogito-apps"
      DEPS_BRANCHNAME: "9.104.x-prod"
      NIGHTLY: "true"
      NIGHTLY_DEPLOY_FOLDER: "/home/runner/.m2/repository"
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17

      - name: Clone and Build Drools, Runtimes and Apps repositories
        shell: bash
        run: |
          settings_xml=$(realpath .github/supporting_files/pr_check_settings.xml)
          export MAVEN_OPTIONS="-s ${settings_xml}"
          echo "Building Drools, Runtimes and Apps"
          cd ..
  
          echo "::group::Cloning drools branch..."
          echo "git clone --depth 1 --branch  $DEPS_BRANCHNAME $DROOLS_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $DROOLS_REPO_URL
          cd drools
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf drools
          echo "::endgroup::"
  
          echo "::group::Cloning kogito-runtimes $DEPS_BRANCHNAME branch..."
          echo "git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_RUNTIMES_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_RUNTIMES_REPO_URL
          cd kogito-runtimes
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf kogito-runtimes
          echo "::endgroup::"
  
          echo "::group::Cloning kogito-apps $DEPS_BRANCHNAME branch..."
          echo "git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_APPS_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_APPS_REPO_URL
          cd kogito-apps
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf kogito-apps
          echo "::endgroup::"

      - name: Build apps-maven-builder
        shell: bash
        run: |
          settings_xml=$(realpath .github/supporting_files/pr_check_settings.xml)
          export MAVEN_OPTIONS="-s ${settings_xml}"
          mvn -B -f apps-maven-builder clean install
