name: "CI :: PR Check"

on:
  pull_request:
    branches: ["**"]
    types: [opened, reopened, ready_for_review, synchronize]
    paths:
      - 'apps-maven-builder/**'
      - '.github/**'

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      DROOLS_REPO_URL: "https://github.com/kiegroup/drools"
      KOGITO_RUNTIMES_REPO_URL: "https://github.com/kiegroup/kogito-runtimes"
      KOGITO_APPS_REPO_URL: "https://github.com/kiegroup/kogito-apps"
      KIE_TOOLS_REPO_URL: "https://github.com/kubesmarts/kie-tools"
      DEPS_BRANCHNAME: "main"
      NIGHTLY: "true"
      NIGHTLY_DEPLOY_FOLDER: "/home/runner/.m2/repository"
    steps:
      - name: "Remove big packages to free space on the VM"
        shell: bash
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/.ghcup/
    
      - name: "Checkout Repository"
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17

      - name: Clone and Build Drools, Runtimes and Apps repositories
        shell: bash
        run: |
          settings_xml=$(realpath .github/supporting_files/pr_check_settings.xml)
          export MAVEN_OPTIONS="-s ${settings_xml}"
          echo "Building Drools, Runtimes and Apps"
          cd ..
  
          echo "::group::Cloning drools branch..."
          echo "git clone --depth 1 --branch  $DEPS_BRANCHNAME $DROOLS_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $DROOLS_REPO_URL
          cd drools
          ./productized/remove_modules.sh ./productized/modules
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf drools
          echo "::endgroup::"
  
          echo "::group::Cloning kogito-runtimes $DEPS_BRANCHNAME branch..."
          echo "git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_RUNTIMES_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_RUNTIMES_REPO_URL
          cd kogito-runtimes
          ./productized/remove_modules.sh ./productized/modules
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf kogito-runtimes
          echo "::endgroup::"
  
          echo "::group::Cloning kogito-apps $DEPS_BRANCHNAME branch..."
          echo "git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_APPS_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $KOGITO_APPS_REPO_URL
          cd kogito-apps
          ./productized/remove_modules.sh ./productized/modules
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf kogito-apps
          echo "::endgroup::"

           echo "::group::Cloning kie-tools $DEPS_BRANCHNAME branch..."
          echo "git clone --depth 1 --branch $DEPS_BRANCHNAME $KIE_TOOLS_REPO_URL"
          git clone --depth 1 --branch $DEPS_BRANCHNAME $KIE_TOOLS_REPO_URL
          cd kie-tools
          mkdir ./packages/maven-base/.mvn
          echo "-Dversion.org.kie.kogito=999-SNAPSHOT" > "./packages/maven-base/.mvn/maven.config"
          echo "--no-snapshot-updates" >> "./packages/maven-base/.mvn/maven.config"
          mvn clean install -B -Dquickly -DskipTests -DskipITs -Dproductized
          cd ..
          rm -rf kie-tools
          echo "::endgroup::"

      - name: Build apps-maven-builder
        shell: bash
        run: |
          settings_xml=$(realpath .github/supporting_files/pr_check_settings.xml)
          export MAVEN_OPTIONS="-s ${settings_xml}"
          mvn -B -f apps-maven-builder clean install
